/*** Site colors ***
    red: #f67280
    almost-red: #c06c84
    almost-blue: #6c5b7b
    blue: #35477d
*/

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  background-color: #fff;
  color: #000;
  font-family: serif;
  margin: 0;
  line-height: 2;
  font-family: "Roboto";
}

.wrapper {
  background-color: #fff;
  margin: auto;
  position: relative;
  top: 80px;
  width: 80%;
  max-width: 1000px;
}

h1,
h2,
h3 {
  color: #35477d;
}

/*** Header ***/
#header {
  background-color: #fff;
  display: flex;
  height: 80px;
  justify-content: space-between;
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
}

#header-img {
  object-fit: contain;
  width: 20%;
}

/*** Navbar ***/
#nav-bar {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  width: 80%;
}

#nav-bar ul {
  list-style: none;
  padding-left: 0;
}

#nav-bar li {
  display: inline-block;
}

.nav-link {
  background-color: #f67280;
  border: 1px solid #f67280;
  color: #fff;
  font-weight: bold;
  letter-spacing: 2px;
  margin-left: 10px;
  padding: 10px 40px;
  text-decoration: none;
}

.nav-link:hover {
  background-color: #fff;
  border: 1px solid black;
  color: #f67280;
}

/*** Form ***/
#form {
  text-align: center;
}

.title {
  font-family: "Pacifico";
}

#form input {
  width: 25%;
  margin: 10px auto;
  padding: 10px 5px;
}

#form input:hover {
  border: 2px solid #c06c84;
}

/*** Button ***/
.btn {
  display: block;
  margin: 15px auto;
  background-color: #c06c84;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  border: 1px solid #c06c84;
}

.btn:hover {
  background-color: #000;
  border: 1px solid #f67280;
  color: #f67280;
}

/*** Features section ***/
#features h2 {
  font-family: "Merriweather";
}

/*** How-it-works section ***/
#how-it-works {
  text-align: center;
  margin-top: 50px;
}

/*** Pricing-section ***/
#pricing {
  display: flex;
  justify-content: space-around;
  padding: 50px 30px;
}

#pricing * {
  flex: 1;
}

.price {
  border: 1px solid #35477d;
  /* padding: 20px 40px; */
  margin: 0 20px;
}

.price h3 {
  text-align: center;
  background-color: #6c5b7b;
  color: #fff;
  margin: 0;
  padding: 15px 0;
}

.item-price {
  text-align: center;
  font-size: 30px;
  margin: 10px 0;
}

.price li {
  text-align: center;
}

.price ul {
  list-style: none;
  padding: 0;
  margin: 30px 0;
}

/*** Footer ***/
footer {
  width: 1000px;
  margin: auto;
  padding: 20px 30px;
  position: relative;
  top: 80px;
  background-color: #ccc;
}

.links {
  text-align: right;
}

.links ul {
  list-style: none;
}

.links li {
  display: inline-block;
}

.links a {
  text-decoration: none;
  letter-spacing: 3px;
  color: #35477d;
  padding-left: 20px;
}

/*** Media queries ***/
@media screen and (max-width: 960px) {
  #header {
    min-height: 140px;
    flex-wrap: wrap;
  }

  #header-img {
    width: 100%;
    max-height: 80px;
  }

  #nav-bar {
    width: 100%;
  }

  .wrapper {
    top: 140px;
  }
}

@media screen and (max-width: 640px) {
  #header {
    position: relative;
  }

  #nav-bar {
    flex-direction: column;
  }

  #nav-bar ul {
    width: 100%;
  }

  #nav-bar ul li {
    width: 100%;
    display: block;
    float: left;
    /* text-align: center; */
  }

  .wrapper {
    top: 50px;
  }
}
