/*** Site colors ***
    red: #f67280
    almost-red: #c06c84
    almost-blue: #6c5b7b
    blue: #35477d
*/

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  background-color: #fff;
  color: #000;
  font-family: serif;
  margin: 0;
}

.wrapper {
  background-color: #fff;
  margin: auto;
  width: 1000px;
}

h1,
h2,
h3 {
  color: #35477d;
}

/*** Header ***/
#header {
  background-color: #fff;
  display: flex;
  height: 80px;
  justify-content: space-between;
  width: 100%;
}

#header-img {
  object-fit: contain;
}
